In [1]:
import pandas as pd
from datasets import load_dataset

In [2]:
# not a very big dataset, 87k rows and <16mb
train = load_dataset("rajpurkar/squad", split="train")
validation = load_dataset("rajpurkar/squad", split="validation")

README.md:   0%|          | 0.00/7.62k [00:00<?, ?B/s]

train-00000-of-00001.parquet:   0%|          | 0.00/14.5M [00:00<?, ?B/s]

validation-00000-of-00001.parquet:   0%|          | 0.00/1.82M [00:00<?, ?B/s]

Generating train split:   0%|          | 0/87599 [00:00<?, ? examples/s]

Generating validation split:   0%|          | 0/10570 [00:00<?, ? examples/s]

In [3]:
df_train = pd.DataFrame(train)
df_validation = pd.DataFrame(validation)

In [4]:
print(df_train.shape)
print(df_validation.shape)

(87599, 5)
(10570, 5)

In [5]:
df_train.head()

,id,title,context,question,answers
0,5733be284776f41900661182,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",To whom did the Virgin Mary allegedly appear i...,"{'text': ['Saint Bernadette Soubirous'], 'answ..."
1,5733be284776f4190066117f,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is in front of the Notre Dame Main Building?,"{'text': ['a copper statue of Christ'], 'answe..."
2,5733be284776f41900661180,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",The Basilica of the Sacred heart at Notre Dame...,"{'text': ['the Main Building'], 'answer_start'..."
3,5733be284776f41900661181,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What is the Grotto at Notre Dame?,{'text': ['a Marian place of prayer and reflec...
4,5733be284776f4190066117e,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha...",What sits on top of the Main Building at Notre...,{'text': ['a golden statue of the Virgin Mary'...

In [6]:
df_validation.head()

,id,title,context,question,answers
0,56be4db0acb8001400a502ec,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the AFC at Super Bo...,"{'text': ['Denver Broncos', 'Denver Broncos', ..."
1,56be4db0acb8001400a502ed,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team represented the NFC at Super Bo...,"{'text': ['Carolina Panthers', 'Carolina Panth..."
2,56be4db0acb8001400a502ee,Super_Bowl_50,Super Bowl 50 was an American football game to...,Where did Super Bowl 50 take place?,"{'text': ['Santa Clara, California', 'Levi's S..."
3,56be4db0acb8001400a502ef,Super_Bowl_50,Super Bowl 50 was an American football game to...,Which NFL team won Super Bowl 50?,"{'text': ['Denver Broncos', 'Denver Broncos', ..."
4,56be4db0acb8001400a502f0,Super_Bowl_50,Super Bowl 50 was an American football game to...,What color was used to emphasize the 50th anni...,"{'text': ['gold', 'gold', 'gold'], 'answer_sta..."

In [7]:
df_train.iloc[3]["question"]

'What is the Grotto at Notre Dame?'

In [8]:
df_train.iloc[0]["context"]

'Architecturally, the school has a Catholic character. Atop the Main Building\'s gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper statue of Christ with arms upraised with the legend "Venite Ad Me Omnes". Next to the Main Building is the Basilica of the Sacred Heart. Immediately behind the basilica is the Grotto, a Marian place of prayer and reflection. It is a replica of the grotto at Lourdes, France where the Virgin Mary reputedly appeared to Saint Bernadette Soubirous in 1858. At the end of the main drive (and in a direct line that connects through 3 statues and the Gold Dome), is a simple, modern stone statue of Mary.'

In [9]:
df_train_dedup = df_train[['title', 'context']].drop_duplicates(subset='context')
df_train_dedup.head()

,title,context
0,University_of_Notre_Dame,"Architecturally, the school has a Catholic cha..."
5,University_of_Notre_Dame,"As at most other universities, Notre Dame's st..."
10,University_of_Notre_Dame,The university is the major seat of the Congre...
15,University_of_Notre_Dame,The College of Engineering was established in ...
20,University_of_Notre_Dame,All of Notre Dame's undergraduate students are...

In [10]:
df_train_dedup.shape

(18891, 2)

In [11]:
df_validation_dedup = df_validation[['title', 'context']].drop_duplicates(subset='context')
df_validation_dedup.head()

             title                                            context
0    Super_Bowl_50  Super Bowl 50 was an American football game to...
30   Super_Bowl_50  The Panthers finished the regular season with ...
55   Super_Bowl_50  The Broncos took an early lead in Super Bowl 5...
80   Super_Bowl_50  CBS broadcast Super Bowl 50 in the U.S., and c...
106  Super_Bowl_50  In early 2012, NFL Commissioner Roger Goodell ...

In [12]:
df_validation_dedup.shape

(2067, 2)

In [13]:
df_combined = pd.concat([df_train_dedup, df_validation_dedup], ignore_index=True)
df_combined.head()

                      title                                            context
0  University_of_Notre_Dame  Architecturally, the school has a Catholic cha...
1  University_of_Notre_Dame  As at most other universities, Notre Dame's st...
2  University_of_Notre_Dame  The university is the major seat of the Congre...
3  University_of_Notre_Dame  The College of Engineering was established in ...
4  University_of_Notre_Dame  All of Notre Dame's undergraduate students are...

In [14]:
df_combined.shape

(20958, 2)

In [15]:
import latentscope as ls

In [16]:
ls.init("~/latent-scope-data")

Initialized env with data directory at /Users/enjalot/latent-scope-data

In [17]:
ls.ingest("squad", df_combined, "context")

Loading environment variables from: /Users/enjalot/code/squad-tutorial/.env
DATA DIR /Users/enjalot/latent-scope-data
DIRECTORY /Users/enjalot/latent-scope-data/squad
                      title                                            context
0  University_of_Notre_Dame  Architecturally, the school has a Catholic cha...
1  University_of_Notre_Dame  As at most other universities, Notre Dame's st...
2  University_of_Notre_Dame  The university is the major seat of the Congre...
3  University_of_Notre_Dame  The College of Engineering was established in ...
4  University_of_Notre_Dame  All of Notre Dame's undergraduate students are...
       title                                            context
20953  Force  where  is the mass of the object,  is the velo...
20954  Force  A conservative force that acts on a closed sys...
20955  Force  For certain physical scenarios, it is impossib...
20956  Force  The connection between macroscopic nonconserva...
20957  Force  The pound-force has a metric counterpart, less...
Index(['title', 'context'], dtype='object')
checking column types
COLUMN title TYPE string
COLUMN context TYPE string
wrote /Users/enjalot/latent-scope-data/squad/input.parquet